
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title1 {
    font-weight: bold;
    font-size: 80px;
}

#profilediv {
    border-radius: 35px;
    padding: 10px;
}

#floppa {
    border-radius: 45px;
    width: min-content;
    transition: 0.5s;
}

#floppa:hover {
    box-shadow: 5px 5px 15px 5px grey;
}

#username {
    transition: color .2s ease-in;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#username:hover {
    color: gold;
}

body {
    text-align: center;
}