
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title1 {
    font-weight: bold;
    font-size: 80px;
    padding: 0px;
    margin-block-start: 0px;
}

#profilediv {
    border-radius: 35px;
    padding: 10px;
}

#floppa {
    border-radius: 45px;
    width:fit-content;
    transition: 0.5s;
    width: 350px;
}

#floppa:hover {
    box-shadow: 5px 5px 15px 5px grey;
    transform: scale(1.03);
}

#username {
    text-decoration: none;
    transition: color .2s ease-in;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
}

#username:hover {
    color: orangered;
}

body {
    text-align: center;
    animation: fadeIn 2s;
    
}

#bg {
    background-image: url("bodybg.jpg");
    image-rendering: crisp-edges;
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

footer {
    bottom:0px;
    width: 100%;
}

#imagetext {
    min-width: 200px;
    max-height: 350px;
}

#navtitle {
    margin-left: 20px;
}

li {
    margin-top: 3px;
}

header {
    width: 100%;
}

.spacer {
    padding: 20px;
    margin: 10px;
}

p {
    margin-block-end: 0px;
}

#smallfloppa {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
}

.smallimg {
    max-width: 300px;
    max-height: 300px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}