
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title1 {
    font-weight: bold;
    font-size: 80px;
    padding: 0px;
    margin-block-start: 0px;
}

#profilediv {
    border-radius: 35px;
    padding: 10px;
}

#floppa {
    border-radius: 45px;
    width:fit-content;
    transition: 0.5s;
    width: 350px;
}

#floppa:hover {
    box-shadow: 5px 5px 15px 5px grey;
    transform: scale(1.03);
}

#username {
    text-decoration: none;
    transition: color .2s ease-in;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

#username:hover {
    color: rgba(0, 0, 0, 0.459);
}

body {
    text-align: center;
    
}



#imagetext {
    min-width: 200px;
    max-height: 350px;
}

#navtitle {
    margin-left: 20px;
}

li {
    margin-top: 3px;
}

header {
    width: 100%;
}

.spacer {
    padding: 20px;
    margin: 10px;
}


#smallfloppa {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

#smallfloppa:hover {
    transform: scale(1.03);
}

.roundedfloppa {
    border-radius: 20px;
}

.smallimg {
    max-height: 300px;
    transition: 0.2s;
}

.smallimg:hover {
    transform: scale(1.02);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-inner {
    height: 515px;
}

.item {
    height: 515px;
}


.carousel {
    overflow: hidden;
}
.carousel-inner {
    width: 150%;
    left: -25%;
}



.socials {
    width: 20px;
    height: 20px;
    margin: 5px;
    transition: 0.2s;
    transform: scale(1.4);
    color: gray;
}

.socials:hover {
    transform: scale(1.6);
}

p {
    width: 100%;
}


button {
    border-radius: 35px;
}

.button {
    border-radius: 35px;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
}

.vspacer {
    margin-left: 10px;
    margin-right: 10px;
}

.notextstyle {
    text-decoration: none;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }


.css-selector {
    background-image: url(assets/videobg.gif);
    background-size: cover;
    
    z-index: -1;
}



.miscbg {
    width: 100%;
    height: 100%;
    background: linear-gradient(232deg, #ff0000, #feff00, #11ff00, #00ffc4, #0020ff, #c100ff, #ff00cd);
    background-size: 1400% 1400%;

    -webkit-animation: MegaMisc 26s ease infinite;
    -moz-animation: MegaMisc 26s ease infinite;
    animation: MegaMisc 26s ease infinite;
}

@-webkit-keyframes MegaMisc {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MegaMisc {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MegaMisc {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.pythongrad {
    background: linear-gradient(157deg, #0066ff00, #f1cd00a9);
    background-size: 200% 200%;
}

.cssGrad {
    background: linear-gradient(139deg, #0042ff, #ffffff);
    background-size: 200% 200%;
}

.card {
    border-radius: 35px;
}


.noborder {
    border: 0px;
}

.topitem {
    background: linear-gradient(49deg, #008cff6b, #79e4c056);
    background-size: 100% 100%;
}

.bstrapcard {
    background: linear-gradient(49deg, #a200ff59, #ffffff56);
    background-size: 100% 100%;
}

.pycard {
    background: linear-gradient(72deg, #2997ff59, #fcd60256);
    background-size: 100% 100%;
}

.phpcard {
    background: linear-gradient(8deg, #8c67e459, #0000001c);
    background-size: 100% 100%;
}

.fluttercard {
    background: linear-gradient(8deg, #0099ff59, #002bb81c);
    background-size: 100% 100%;
}

.illustratorcard {
    background: linear-gradient(100deg, #e47a0279, #ffffff1c);
    background-size: 100% 100%;
}

.csscard {
    background: linear-gradient(170deg, #021bf879, #ffffff1c);
    background-size: 100% 100%;
}

.javacard {
    background: linear-gradient(70deg, #021bf879, #ff373763);
    background-size: 100% 100%;
}

.ccard {
    background: linear-gradient(70deg, #4b4d5c79, #00000025);
    background-size: 100% 100%;
}

.dartcard {
    background: linear-gradient(70deg, #00ffb357, #0167ff50);
    background-size: 100% 100%;
}

.phocard {
    background: linear-gradient(20deg, #00c3ff75, #ffffff50);
    background-size: 100% 100%;
}

.sqlcard {
    background: linear-gradient(320deg, #ffae0075, #0039f550);
    background-size: 100% 100%;
}

.gitcard {
    background: linear-gradient(220deg, #00000075, #ffffff50);
    background-size: 100% 100%;
}

.ezbarcard {
    background: linear-gradient(220deg, #EA7B97, #F8DB64);
    background-size: 100% 100%;
}

.webcard {
    background: linear-gradient(150deg, #dd0030d0, #fffef9);
    background-size: 100% 100%;
}

.aqcard {
    background: linear-gradient(50deg, #00b7ff77, #00e73286);
    background-size: 100% 100%;
}



body {
    background-color: white;
    overflow-x: hidden;
}


.test {
    --color: @p(#51eaea, #fffde1, #ff9d76, #FB3569);
    --rule: (
      :doodle {
        @grid: 30x1 / 18vmin;
        --deg: @p(-180deg, 180deg);
      }
      :container {
        perspective: 30vmin;
      }
      :after, :before {
        content: '';
        background: var(--color); 
        @place-cell: @r(100%) @r(100%);
        @size: @r(6px);
        @shape: heart;
      }
    
      @place-cell: center;
      @size: 100%;
    
      box-shadow: @m2(0 0 50px var(--color));
      background: @m100(
        radial-gradient(var(--color) 50%, transparent 0) 
        @r(-20%, 120%) @r(-20%, 100%) / 1px 1px
        no-repeat
      );
    
      will-change: transform, opacity;
      animation: scale-up 12s linear infinite;
      animation-delay: calc(-12s / @I * @i);

      @keyframes scale-up {
        0%, 95.01%, 100% {
          transform: translateZ(0) rotate(0);
          opacity: 0;
        }
        10% { 
          opacity: 1; 
        }
        95% {
          transform: 
            translateZ(35vmin) rotateZ(@var(--deg));
        }
      }
    )
}